<!DOCTYPE html>
<html>
  <head>
    <title>Blogully</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  </head>

  <body>
  <%= render 'navbar'%>
  <div id="main" class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
